.circle{
width: 50px;
height: 50px;
background: black;
animation-name: circle;
animation-iteration-count: infinite;
animation-duration: 6s;
animation-direction: alternate-reverse;
border-radius: 100px;
}
@keyframes circle {
  0% {
background: radial-gradient(circle at center, white, blue);
height: 50px;
width: 50px
border-radius: 100px;
  }

25% { 
background: radial-gradient(circle at center, white, blue);
height: 200px;
border-radius: 0px;
transform: rotate(360deg);
  }
35% { 
background: radial-gradient(circle at center, green, gold);
height: 200px;
border-radius: 0px;
transform: rotate(360deg);
  }
50% { 
background: radial-gradient(circle at center, green, gold);
height: 200px;
border-radius: 0px;
  }
  70% { 
background: radial-gradient(circle at center, green, gold);
width: 50px;
height: 50px;
border-radius: 0px;
  }
80% { 
background: radial-gradient(circle at center, blue, white);
width: 50px;
height: 50px;
border-radius: 0px;
  }

  100% { 
    
width: 50px;
height: 50px;
border-radius: 100px;
background: radial-gradient(circle at center, blue, white);
  }