.circle{
border-radius: 100px;
margin-top: 50px;
margin-left: 100px;
height: 100px;
width: 100px;
background: radial-gradient(circle at center, #00bc9e, #00bc9e);
}
.border{
border: 2px;
height: 200px;
width: 300px;
background-color: white;
border: 2px solid #bcafb6;
}