* {
transition: 0.5s;
}
.container {
height: 100%;
width: 100%;
border-radius: 10px;
}
.footer {
width: 1100px;
background: #2f3649;
height: 36px;
display: flex;
justify-content: flex-end;
border-radius: 0 0 10px 10px;

}
.head {
width: 1100px;
background: #2f3649;
height: 36px;
display: flex;
justify-content: flex-end;
border-radius: 10px 10px 0 0;
}
.div_foot_blue {
border-radius: 0 0 10px 0;
background: #15a1f6;
height: 36px;
width: 45px;
}
.div_foot_last {
text-align: center;
background: #1e2537;
height: 36px;
width: 45px;
}
.div_head_blue {
border-radius: 0 10px 0 0;
background: #15a1f6;
width: 158px;
height: 36px;
text-align: center;
color: white;
font-size: 12px;
}
.div_head_text {
font-size: 12px;
text-align: center;
color: #50586d;
width: 100px;
height: 36px;
}
.div_head_foto {
position: absolute;
height: 30px;
width: 30px;
border-radius: 30px;
border: 3px solid white;
float: left;
margin-left: 5px;
}
.head_icon {
margin-top: 10px;
}
.body_page {
display: flex;
overflow-y: hidden;
}
.body_menu {
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
}
.body_left {
margin: 0;
padding: 0;
display: flex;
height: 93px;
width: 160px;
margin: 0;
list-style: none;
background: #1e2537;
}
.body_left_2 {
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
height: 200px;
background: #1e2537;
list-style: none;
margin: 0;
width: 160px;
}
.body_left_2_item {
height: 33px;
width: 100%;
background: #1e2537;
color: #777f92;
font-size: 12px;
}
.body_left_2_item:hover {
cursor: pointer;
background: #16a4fa;
color: white;
}
.body_left_3 {
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
height: 148px;
background: #1e2537;
list-style: none;
margin: 0;
width: 160px;
}
.body_left_3_item {
background: #1e2537;
color: #777f92;
font-size: 12px;
height: 38px;
width: 100%;
}
.body_left_3_item:hover {
cursor: pointer;
background: #16a4fa;
color: white;
}
.little_circle {
margin: 15px;
display: flex;
width: 5px;
height: 5px;
border-radius: 10px;
background: yellow;
}
.body_left_4 {
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
height: 200px;
background: #1e2537;
list-style: none;
margin: 0;
width: 160px;
}
.body_left_4_item {
height: 50px;
width: 100%;
background: #1e2537;
color: #777f92;
font-size: 12px;
margin-top: 20px;
}
.body_left_add {
margin-top: 30px;
margin-left: 15px;
padding: 0;
border-radius: 2px;
height: 35px;
width: 130px;
background: #ef775f;
}
.empty {
float: left;
height: 35px;
width: 15px;
}
.body_left_add_text {
float:left;
font-size: 12px;
color: white;
margin-top: 10px;
}
.books {
overflow-y: scroll;
background: white;
width: 940px;
height: 655px;
}
.body_head {
border-bottom: 2px solid #e2e5ec;
color: #4a4f64;
width: 100%;
height: 57px;
background: #eef1f8;
}
.books_body_menu {
margin: 0;
display: flex;
list-style: none;
width: 100%;
height: 47px;
background: #eef1f8;
border-bottom: 2px solid #e2e5ec;
color: #777f92;
}
.books_body_menu_item {
text-align: center;
width: 70px;
height: 15px;
font-size: 12px;
margin-top: 17px;
margin-left: -19px;
font-weight: 600;
}
.books_body_menu_item-2 {
text-align: center;
width: 80px;
height: 15px;
font-size: 12px;
margin-top: 17px;
margin-left: 19px;
font-weight: 600;
}
.books_body_menu_item:hover, .books_body_menu_item-2:hover {
cursor: pointer;
background: #96b1cd;
color: white;
border-radius: 20px;
}
.search {
font-size: 12px;
margin-left: 210px;
margin-top: 13px;
list-style: none;
background: white;
width: 320px;
height: 27px;
border-radius: 30px;
border: 1px solid #e2e5ec;
}
.text_search {
margin: 5px 0 0 15px;
}
.icon_search {
position: absolute;
margin-top: 17px;
margin-left: -30px;
}
.images_books {
height: 536px;
width: 940px;
margin-left: -940px;
margin-top: 109px;
posotion: absolute;
list-style: none;
background: white;
display: flex;
}
.images_books_1 {

}
.one {
margin-left: -10px;
margin-top: 5px;
height: 190px;
width: 152px;
}
.images_books_1_text {
margin-left: -24px;
margin-top: -12px;
}
.first_text {
margin-left: 15px;
margin-top: 10px;
font-size: 14px;
color: #4a4f64;
}
.second_text {
margin-left: 15px;
margin-top: -35px;
font-size: 10px;
color: #8992b7;
}
.images_books_1_star {
margin-top: -3px;
margin-left: -10px;
}