.one {
position: absolute;
background: linear-gradient(to top, #ffc300, #ffd600);
height: 33px;
width: 298px;
}

.one:before{
content: '';
position: absolute;
margin-top: 33px;
margin-left: 10px;
width: 0;
height: 0;
border: 10px solid transparent ;
border-top-color: #ffc300;
}
#text {
margin-top: 7px;
position: absolute;
margin-left: 10px;
font-size: 15px;
color: black;
}
.two {
position: absolute;
margin-right: 1px;
color: #63968a;
height: 123px;
width: 298px;
background: white;
font-size: 10px;
border: 1px solid #61a393;
margin-left: 5px;
margin-top: 5px;
}
.tree {
background: #a0dfd1;
height: 135px;
width: 310px;
border-radius: 4px;
border: 2px solid #3d9983;
}