* {
transition: 1s;
}
img:hover {
opacity: 1.0;
}
img {
border: 5px solid white;
box-shadow: 0 0 1px black;
height: 94px;
width: 83px;
}
.two {
border: 5px solid white;
height: 20px;
width: 90px;
}
.true {
float: left;
}
.true_last {
clear: left;
float: left;
}
.b_one {

box-shadow: 0 0 1px black;
height: 14px;
width: 34px;
background: white;
float: left;
margin-top: 3px;
}
.empty {
height: 14px;
width: 5px;
background: white;
float: left;
margin-top: 5px;
margin-left: 3px;
}
.b_two {

box-shadow: 0 0 1px black;
height: 14px;
width: 44px;
background: white;
float: left;
margin-top: 3px;
}
.any_text {
text-align: center;
height: 94px;
width: 83px;
opacity: 0;
position: absolute;
font-size: 10px;
margin-left: 5px;
margin-top: -103px;
}
.any_text:hover {
opacity: 1;
}
.menu {
list-style: none;
}
img {
border: 5px solid white;
box-shadow: 0 0 1px black;
height: 94px;
width: 83px;
}
.menu__item {
display: inline-block;
}
.buttons_inline {
list-style: none;
height: 20px;
width: 50px;
}
.one_inline {
margin-left: -38px;
display: inline-block;
box-shadow: 0 0 1px black;
height: 14px;
width: 34px;
background: white;
}
.empty_inline {
display: inline-block;
height: 14px;
width: 1px;
background: white;
margin-left: -1px;
}
.two_inline {
display: inline-block;
box-shadow: 0 0 1px black;
height: 14px;
width: 44px;
background: white;
}
.menu_flex {
list-style: none;
display: flex;
margin: 0;
padding: 0;
}
img {
border: 5px solid white;
box-shadow: 0 0 1px black;
height: 94px;
width: 83px;
}
.buttons_flex {
display: flex;
border: 5px solid white;
height: 20px;
width: 90px;
}
.but_one_flex {
height: 14px;
width: 34px;
background: white;
margin-top: 3px;
box-shadow: 0 0 1px black;
}
.but_two_flex {
margin-top: 3px;
background: white;
height: 14px;
width: 44px;
box-shadow: 0 0 1px black;
}
.empty_flex {
margin-left: 3px;
margin-top: 3px;
background: white;
height: 14px;
width: 5px;
}
.b_one:hover, .b_two:hover, .one_inline:hover, .two_inline:hover, .but_one_flex:hover, .but_two_flex:hover {
background: #0da32b;
color: white;
}