.one{
background: #569099;
padding: 10px;
margin-bottom: 50px;
height: 120px;
width: 400px;
font-size: 30px;
color: white;
}
.two{
background: #cad8d0;
padding: 10px;
margin-top: 30px;
height: 120px;
width: 400px;
}