
.load{
width: 1px;
height: 50px;
margin-left: 200px;
margin-top:200px;
background: grey;
animation-name: load;
animation-iteration-count: infinite;
animation-duration: 3s;
animation-direction: alternate-reverse;
}
@keyframes load {
  0% {
  }

  100% { 
width: 1000px;
height: 50px;
margin-left: 200px;
background: lightblue;
margin-top:200px;

  }