.cap {
height: 36px;
width: 107px;
background: #a68bdd;
box-shadow: 0 0 10px black;
border-left: 1px solid blue;
border-top: 1px solid blue;
border-right: 1px solid blue;
color: #825bcf;
text-align: center;
}
p {

margin-top: 10px;
}
.text{
color: #825bcf;
height: 275px;
width: 900px;
background: #a68bdd;
margin-top: -10px;

box-shadow: 0 0 10px black;
}
.big_text {
margin: 10px;
padding: 10px;
}